[Unit]
Description=Disable ACPI Wakeup

[Service]
ExecStart=/bin/bash /usr/local/bin/acpi-sleep --disable
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target