[Unit]
Description=Disable system (ACPI) wakeup from USB device activity.

[Service]
ExecStart=/bin/bash /usr/local/bin/acpi-sleep
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target