[Unit]
Description=Disable ACPI wakeup on USB interfaces' activity

[Service]
ExecStart=/bin/bash /usr/local/bin/acpi-sleep
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target