[Unit]
Description=Enable system wakeup (ACPI) by USB devices at startup.

[Service]
ExecStart=/bin/bash /usr/local/bin/acpi-sleep --enable
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target